/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/uploads/members/
etc
storage
storage/logs
public/uploads/
public/img/user/
config/broadcasting.php
config/websockets.php
.vs